@media all and (min-width: 1px)
  .inputs
    background-color: rgba(255,255,255,0)
    color: $whiteColor
    border: none
    border-bottom: 1px solid $whiteColor
    width: 100%
    padding: 10px
    font-size: 1.3rem
    font-family: $principalFont
    letter-spacing: .3rem
    &:focus
      -webkik-appearance: inherit
  
  label
    display: block