@keyframes fadeIn
  0%
    opacity: 0
  100%
    opacity: 1


@media all and (min-width: 1px)
  header
    position: absolute
    top: 0
    z-index: 999

  .logoBeats
    position: relative
    z-index: 4

  .menu
    background-color: rgba(0,0,0,0)
    border: 0
    color: $pinkColor
    font-size: 3rem
    cursor: pointer
    margin-bottom: 50px
    position: fixed
    right: 10px
    top: 40px
    z-index: 4

  .menuOptions
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    width: 100%
    height: 100%
    overflow-y: auto
    z-index: 3
    background-color: rgba($blackColor, .9)
    opacity: 0

    animation-name: fadeIn
    animation-direction: normal
    animation-duration: 1s
    animation-iteration-count: 1
    animation-fill-mode: forwards
    a
      color: $whiteColor
      text-transform: uppercase
      padding: 10px 0
      font-size: 2rem
      &:hover
        color: $pinkColor

@media all and (min-width: 1024px)
  header
    position: fixed
  .menu
    font-size: 4rem
    margin-bottom: 10vh
    position: relative
    top: 0