@media all and (min-width: 1px)
  .pedidosBeats,
  .generoMusical,
  .selectCantante,
  .selectKit
    position: relative
    z-index: 2
    overflow: hidden
    &::after
      content: ""
      background-repeat: no-repeat
      background-position: center center
      background-size: cover
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      z-index: -1
      filter: blur(4px)
    &::before
      content: ""
      background-color: rgba($blackColor, .75)
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      z-index: 0

  .pedidosBeats
    &::after
      background-image: url(../../images/fondo_pedido.png)
  .generoMusical
    &::after
      background-image: url(../../images/musicBg.jpg)
  .selectCantante
    &::after
      background-image: url(../../images/cantada.jpg)
  .selectKit
    &::after
      background-image: url(../../images/select-kit.jpg)

  .options
    background-color: $whiteColor
    overflow: hidden
    cursor: pointer
    h2
      color: $pinkColor
      font-size: 1.5rem
      padding: 15px 20px
      margin: 0
    p
      color: $blackColor
      font-size: 1.1rem
      padding: 0 20px 20px
      letter-spacing: .125rem