@import _fonts
@import _variables
@import _header
@import _home

input, buton, textarea
  outline: none

body
  font-family: $principalFont
  background-color: $blackColor

.pinkColor
  color: $pinkColor
